@page "/editprofile/{username}"
@using System.Net.Http.Headers;
@inject IUserService UserService
@inject HttpClient Http
@inject NavigationManager navigation
@inject MudBlazor.ISnackbar snackBar



<MudGrid Style="background-image: url('Images/apply.jpg');" Class="rounded-lg">
    <MudItem xs="7">
        <MudText Typo="Typo.h4" Align="Align.Start" GutterBottom="true"><b>Edit Profile</b></MudText>
        <a href="/">Home</a> <span class="mx-2 slash">/</span>
        <a href="/profile/@UserName">Profile</a> <span class="mx-2 slash">/</span>
        <span class="text-black"><b>Edit Profile</b></span>
    </MudItem>
</MudGrid>
<br />
<MudGrid Justify="Justify.Center">
                <MudItem xs="8">
<EditForm Model="user" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <MudCard Class="mt-8">
        <MudCardContent>
                    <MudText Typo="Typo.h5" Class="mb-5 border-bottom pb-2" GutterBottom="true">Personal Details</MudText>
            <MudGrid>
                <MudItem xs="6">
                    <MudTextField Label="Full Name" @bind-Value="user.Name" Variant="Variant.Outlined" For="@(()=>user.Name)" Placeholder="Enter Your Full Name"></MudTextField>
                </MudItem>
                <MudItem xs="6">
                        </MudItem>
                <MudItem xs="6">
                    <MudTextField Label="Mobile Number" @bind-Value="user.mobile" Variant="Variant.Outlined" Placeholder="Enter Mobile Number" For="@(()=>user.mobile)"></MudTextField>
                </MudItem>
                <MudItem xs="6">
                            <MudTextField Label="Email" @bind-Value="user.Email" Variant="Variant.Outlined" Placeholder="Enter Email" For="@(()=>user.Email)"></MudTextField>
                </MudItem>
                <MudItem xs="6">
                            <MudTextField Label="Address" @bind-Value="user.Address" Variant="Variant.Outlined" Placeholder="Enter Address" For="@(()=>user.Address)"></MudTextField>
                </MudItem>
                <MudItem xs="6">
                            <MudSelect Label="Country" @bind-Value="user.Country" Variant="Variant.Outlined">
                     @foreach (var country in countries)
                     {
                         <MudSelectItem Value="country.Country">@country.Country</MudSelectItem>
                     }
                     </MudSelect>
                </MudItem>
                        <MudSpacer />
                <MudItem xs="6">
                     <MudTextField Label="Working Experience" @bind-Value="user.Experience" Variant="Variant.Outlined" Placeholder="Ex: 2 years" For="@(()=>user.Experience)"></MudTextField>
                </MudItem>
                <MudItem xs="6">
                            <MudTextField Label="Achievements" @bind-Value="user.WorksOn" Variant="Variant.Outlined" Placeholder="Enter Career" For="@(()=>user.WorksOn)"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                     <MudImage Src="@user.ProfileImage" Elevation="25" Class="rounded my-2 ml-10"></MudImage>
                     <MudFileUpload id="fileInput1" T="IBrowserFile" Accept=".jpg, .jpeg, .png" OnFilesChanged="OnFileChangeImg" MaximumFileCount="1" />
                     <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.CloudUpload" for="fileInput1">Select Profile Picture</MudButton>
                </MudItem>
                <MudItem xs="12">
                     <MudText Typo="Typo.subtitle2">@user.OriginalFileName</MudText>
                     <MudFileUpload id="fileInput2" T="IBrowserFile" Accept=".doc, .docx, .pdf" OnFilesChanged="OnFileChangeDoc" MaximumFileCount="1" />
                     <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.CloudUpload" for="fileInput2">Select Resume</MudButton>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions>
            <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Edit" Class="mb-4">Update Profile</MudButton>
            </MudItem>
        </MudCardActions>
    </MudCard>
</EditForm>
    </MudItem>
</MudGrid>
