@page "/findjob/{id:int}/{user}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.ComponentModel.DataAnnotations;
@attribute [Authorize]
@inject HttpClient Http 
@inject NavigationManager navigationManager
@inject MudBlazor.ISnackbar snackBar

<MudGrid Style="background-image: url('Images/apply.jpg');" Class="rounded-lg">
    <MudItem xs="7">
        <MudText Typo="Typo.h4" Align="Align.Start" GutterBottom="true"><b>Find Jobs In All Location</b></MudText>
        <a href="/">Home</a> <span class="mx-2 slash">/</span>
        <a href="/category/@user">Job Category</a> <span class="mx-2 slash">/</span>
        <span class="text-black"><b>Find job</b></span>
    </MudItem>
</MudGrid>
<br />
<MudGrid Spacing="2" Class="mt-8 mb-10" Justify="Justify.Center">
    <MudItem xs="4">
        <MudTextField @bind-Value="SearchTitle" Label="What" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" HelperText="Enter Job Title" Required="true" RequiredError="Job Title is required!" Class="mt-8" />
    </MudItem>
    <MudItem xs="4">
        <MudTextField @bind-Value="SearchCountry" Label="Where" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.LocationOn" HelperText="Enter Country" Required="true" RequiredError="Country is required!" Class="mt-8" />
    </MudItem>
    <MudItem xs="2" Class="text-center">
        <MudButton OnClick="()=>SearchJob(SearchTitle, SearchCountry)" Size="Size.Large" Color="Color.Info" Variant="Variant.Filled" Class="mt-9">Find Job</MudButton>
    </MudItem>

    <MudMenu Dense="true" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="Filter" Size="Size.Large" Color="Color.Info" Variant="Variant.Outlined" Class="mt-1">
        <MudMenuItem Disabled><b>Employment Types</b></MudMenuItem>
        @foreach (var type in employmentTypes)
        {
            <MudMenuItem OnClick="()=>EmploymentType(type.EmploymentType)">@type.EmploymentType</MudMenuItem>
        }
        <MudMenuItem Disabled><b>Job Types</b></MudMenuItem>
        @foreach (var jobtype in jobTypes)
        {
            <MudMenuItem OnClick="()=>JobType(jobtype.JobType)">@jobtype.JobType</MudMenuItem>
        }
        <MudMenuItem OnClick="()=>ShowJob(currentPage)"><b>Reset</b></MudMenuItem>
    </MudMenu>
</MudGrid>
<MudGrid Class="mt-8" Justify="Justify.Center">
        <MudItem xs="10">
            @if(jobs.Count>0)
            {
                @foreach(var job in jobs)
                {
                     <MudGrid>
                         <MudItem xs="2" Class="text-center" Style="background-color:lightgray">
                         @{
                            if (job.CompanyImage.Length > 0)
                            {
                                Image = job.CompanyImage;
                            }
                            else
                            {
                                Image = @"Images\company.png";
                            }
                         }
                             <MudImage Src="@Image" Width="100" Height="100" Alt="Image" Elevation="25" Class="rounded-lg ma-4" />
                         </MudItem>
                         <MudItem xs="6" Style="background-color:lightgray">
                        @{
                            if (job.DateDiffMin < 7200)
                            {
                                isNew = true;
                            }
                            else
                            {
                                isNew = false;
                            }
                        }
                        <MudText Typo="Typo.h5" Style="margin:15px">
                            <b>@job.Title</b> <b style="font-size: 15px;">(@job.EmploymentType)</b>&nbsp;
                            @if (isNew)
                            {
                                <span style="font-size: 11px;" class="text-success border border-success rounded-1">New</span>
                            }
                        </MudText>
                             <MudText Typo="Typo.subtitle1"><MudIcon Icon="@Icons.Material.Filled.Monitor" Size="Size.Small" />&nbsp;@job.CompanyName&nbsp;&nbsp;&nbsp;<MudIcon Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" />&nbsp;@job.Address, @job.State, @job.Country&nbsp;&nbsp;&nbsp;<MudIcon Icon="@Icons.Material.Filled.Timer" Size="Size.Small" />&nbsp;@job.JobType</MudText>
                         </MudItem>
                         <MudItem xs="4" Class="text-center" Style="background-color:lightgray">
                             <br />
                             <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="() => ViewJob(job.JobId, user)"
                                    Icon="@Icons.Material.Filled.Approval" Class="mr-4 mt-4" Style="align:center">View Job</MudButton>
                         </MudItem>
                     </MudGrid>
            }
            <div class="d-flex flex-column align-center">
                <MudPagination Color="Color.Info" BoundaryCount="1" MiddleCount="2" Class="mt-5 align-end" SelectedChanged="PageChanged" Count="Paging.TotalPages" />
            </div>
            }
            else
            {
                <MudText Typo="Typo.h5" Align="Align.Start" GutterBottom="true">No Jobs found...</MudText>
            }
        </MudItem>
</MudGrid>


@code {
    [Parameter]
    public int? Id { get; set; }

    [Parameter]
    public string? user { get; set; }
    private string? SearchTitle { get; set; }
    private string? SearchCountry { get; set; }

    private int currentPage { get; set; }
    public string Image = "";
    public bool isNew = false;

    public List<JobPortalMud.Shared.JobList> jobs { get; set; } = new List<JobPortalMud.Shared.JobList>();
    public Paging Paging = new Paging();
    public List<JobTypes> jobTypes = new List<JobTypes>();
    public List<EmploymentTypes> employmentTypes = new List<EmploymentTypes>();

    protected override async Task OnInitializedAsync()
    {
        await ShowJob(currentPage);

        var result1 = await Http.GetFromJsonAsync<List<JobTypes>>("api/JobList/jobtypes");
        if (result1 != null)
        {
            jobTypes = result1;
        }
        var result2 = await Http.GetFromJsonAsync<List<EmploymentTypes>>("api/JobList/employmenttypes");
        if (result2 != null)
        {
            employmentTypes = result2;
        }
    }

    private async Task PageChanged(int i)
    {
        currentPage = i;
        await ShowJob(currentPage);
    }

    private async Task ShowJob(int currentPage)
    {
        if (Id != null)
        {
            var result = await Http.GetFromJsonAsync<List<JobPortalMud.Shared.JobList>>($"api/JobList/search/{Id}");
            if (result != null)
            {
                var list = result;
                int pageSize = 5;
                int count = list.Count;
                int TotalPages = (int)Math.Ceiling(count / (double)pageSize);
                list = list.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
                Paging.PageSize = pageSize;
                Paging.CurrentPage = currentPage;
                Paging.TotalPages = TotalPages;
                jobs = list;
            }
        }
    }

    async Task SearchJob(string title, string country)
    {
        if (SearchTitle != null && SearchCountry != null)
        {
            var result = await Http.GetFromJsonAsync<List<JobPortalMud.Shared.JobList>>($"api/JobList/find/{Id}/{title}/{country}");
            if (result != null)
            {
                var list = result;
                int pageSize = 5;
                int count = list.Count;
                int TotalPages = (int)Math.Ceiling(count / (double)pageSize);
                list = list.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
                Paging.PageSize = pageSize;
                Paging.CurrentPage = currentPage;
                Paging.TotalPages = TotalPages;
                jobs = list;
            }
        }
        else
        {
            snackBar.Add("Job Title and Country is required!", Severity.Warning);
        }
    }

    void ViewJob(int id, string user)
    {
        navigationManager.NavigateTo($"viewjob/{id}/{user}");
    }

    private async Task JobType(string jobtype)
    {
        if (Id != null)
        {
            var result = await Http.GetFromJsonAsync<List<JobPortalMud.Shared.JobList>>($"api/JobList/search/{Id}");
            if (result != null)
            {
                var list = result.Where(t => t.JobType.Equals(jobtype)).ToList();
                int pageSize = 5;
                int count = list.Count;
                int TotalPages = (int)Math.Ceiling(count / (double)pageSize);
                list = list.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
                Paging.PageSize = pageSize;
                Paging.CurrentPage = currentPage;
                Paging.TotalPages = TotalPages;
                jobs = list;
            }
        }
    }
    private async Task EmploymentType(string employmentType)
    {
        if (Id != null)
        {
            var result = await Http.GetFromJsonAsync<List<JobPortalMud.Shared.JobList>>($"api/JobList/search/{Id}");
            if (result != null)
            {
                var list = result.Where(t => t.EmploymentType.Equals(employmentType)).ToList();
                int pageSize = 5;
                int count = list.Count;
                int TotalPages = (int)Math.Ceiling(count / (double)pageSize);
                list = list.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
                Paging.PageSize = pageSize;
                Paging.CurrentPage = currentPage;
                Paging.TotalPages = TotalPages;
                jobs = list;
            }
        }
    }
}
